@import url("https://use.typekit.net/slp2uhu.css");

.isVisible {
  opacity: 1;
}

.isNotVisible {
  opacity: 0;
}

 .nav{
  display: flex;
  justify-content: space-between;
  margin: 2em;
 }

 .home{
  font-family: "octin-college", sans-serif;
  color: #80AAF8;
  font-size: 24px;
 }

 .logo{
  color: #80AAF8;
 }

 .about{
  font-family: "octin-college", sans-serif;
  color: #80AAF8;
  font-size: 24px;
  text-decoration: underline;
 }

 .input{
  width: 80%;
  background-color: #1C2535;
  border: 3px solid #80AAF8;
  border-radius: 3px;
  padding: 10px;
}

.inputwrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  font-family: "octin-college", sans-serif;
  color: #80AAF8;
  display: grid;
  margin: 2em;
  padding: 2em;
  border: 1px solid #80AAF8;
  border-radius: 10px;
  position: relative;
  transition: background-color 0.5s;
}
.card:hover{
  background-color: #2a374f;
}

.noBikes {
  color: red;
  border: 1px solid red;
}

.allBikes {
  color: orange;
  border: 1px solid orange;
}

.detailcard{
  margin: 2em;
  color: #80AAF8;
}

.detailinfo{
  color: white;
  margin-top: 2em;
  font-family: sans-serif;
}

.name{
  font-family: "octin-college", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.kilometer{
  font-family: "octin-college", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 32px;
  padding: 10px 10px 0 0;
}
.km{
  font-weight: 00;
  font-size: 16px;
}

.free{
  position: absolute;
  right: 10px;
  top: 10px;
}
.imagestyle{
  margin-top: 2em;
  border-radius: 1em;
}
